body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#root {
  width: 320px;
  height: 320px;
  border-radius: 0;
  border: none;
  cursor: pointer;
}
